
body{
    font-family: Open Sans;
    z-index:1!important;
}

.form-group{			  		
  	/*margin-left: 10px !important;			 */
 }

.container{
    z-index: 2;
    background: #F9F9F9;
    padding: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; 
  }

.tabela{
  border:  #BEBEBE; /* Linhas com fundo cinza */
  margin-left: 100px;
}

.imagen{
	/*margin-left: 10px;*/
	margin-top: 15px;
	width: 150px;
	height: 65px;
}

.titulo{
  margin-top: 20px;
}

#btnBuscaNf{
  border:none;
  float:left;
  height:32px;
  border-radius: 4px 0px 0px 4;
  width:70px;
  font-weight:bold;
  background-color:#58C2DC;
  border-color: #58C2DC;
}

.buscar{
  visibility: hidden;
}